<h1>Editing song</h1>
 
<%= form_for :song, url: song_path(@song), method: :patch do |f| %>

  <%= render :partial => "layouts/error", :locals => {:object => @song} %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </p>
 
  <p>
    <%= f.label :lyrics %><br>
    <%= f.text_area :lyrics, class: "form-control lyrics" %>
  </p>

  <p>
    <%= f.label :youtube_url %><br>
    <%= f.text_field :youtube_url, class: "form-control" %>
  </p>
  
  <p>
    <div>Select the album:</div>
    <%= f.collection_select :album_id, Album.all, :id, :name, prompt: true %>
  </p>
  
  <p>
    <div>Select the artist:</div>
    <%= f.collection_select :artist_id, Artist.all, :id, :name, prompt: true %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', songs_path %>