<h1>Songs</h1>
 
 <div class="row">
   <div class="col-md-6">
      <%= link_to 'New song', new_song_path, class: "btn btn-primary" %>
   </div>
   <div class="col-md-6">
     <div class="pull-right">
      <%= will_paginate @songs, renderer: BootstrapPagination::Rails %>
     </div>
   </div>
 </div>
 
 <br>
  <% @songs.each do |song| %>
    <div class="row well">
      <div class="col-md-8">
        <h3><%= song.title %></h3>
        <p><b>Album</b>: <%= Album.find(song.album_id).name if song.album_id?  %></p>
        <p><b>Artist</b>: <%= Artist.find(song.artist_id).name if song.artist_id? %></p>
        
        <p><b>Lyrics</b>: <%= truncate song.lyrics.gsub(/\n/, '<br/>').html_safe, length:20 %></p>

        <p><%= link_to 'View complete lyrics', song_path(song), class: "btn btn-default" %>
        <% if song.user == current_user %>
          <%= link_to 'Edit', edit_song_path(song), class: "btn btn-default"  %></p>
        <% end %>
      </div>
      <div class="col-md-4">
        <% if song.youtube_url? %>
          <%= youtube_embed(song.youtube_url).html_safe %>
        <% end %>
        
      </div>
    </div>
  <% end %>