<h1>Songs</h1>

 <div class="row">
   <div class="col-md-6">
      <%= link_to 'New song', new_song_path, class: "btn btn-primary" %>
      <a class="btn btn-xs btn-default" href="/songs?sort_by=title">Sort by title</a>
      <a class="btn btn-xs btn-default" href="/songs">Sort by time</a>
   </div>
   <div class="col-md-6">
     <div class="pull-right">
      <%= will_paginate @songs, renderer: BootstrapPagination::Rails %>
     </div>



   </div>
 </div>

 <br>
  <% @songs.each do |song| %>
    <div class="row well">
      <div class="col-md-8">
        <h3><%= song.title %></h3>
        <p><b>Album</b>: <%= song.album.name  %></p>
        <p><b>Artist</b>: <%= song.artist.name  %></p>

        <p><b>Lyrics</b>: <%= truncate song.lyrics.gsub(/\n/, '').html_safe, length:20 %></p>

        <p><%= link_to 'View complete lyrics', song_path(song), class: "btn btn-default" %>
        <% if song.user == current_user %>
          <%= link_to 'Edit', edit_song_path(song), class: "btn btn-default"  %></p>
        <% end %>

        <div>
          Rate the quality  : <%= rating_for song, "quality", :disable_after_rate => false %>
         </div>
      </div>
      <div class="col-md-4">
        <% if song.youtube_url? %>
          <%= youtube_embed(song.youtube_url).html_safe %>
        <% end %>

      </div>
    </div>
  <% end %>
