<h1>View song</h1>
    <div class="row well">
      <div class="col-md-8">
        <h3><%= @song.title %></h3>
        <% if @song.user == current_user %>
          <p><%= link_to 'Edit', edit_song_path(@song), class: "btn btn-default"  %></p>
        <% end %>
        <p><%= @song.lyrics.gsub(/\n/, '<br/>').html_safe %></p>
        <p><b>Album</b>: <%= Album.find(@song.album_id).name if @song.album_id?  %></p>
        <p><b>Artist</b>: <%= Artist.find(@song.artist_id).name if @song.artist_id? %></p>
      </div>
      <div class="col-md-4">
        <% if @song.youtube_url? %></p>
          <%= youtube_embed(@song.youtube_url).html_safe %>
        <% end %>
      </div>
    </div>

<hr>
    <h2 id="comments">Comments</h2>
    <% @song.comments.each do |comment| %>
        <p>
          <strong><%= comment.user.email %>:</strong>
          <%= comment.comment %>
        </p>
    <% end %>

  <hr>
  <h3>Add a comment:</h3>
  <%= form_for [@song, Comment.new] do |f| %>

    <p>
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>


<%= link_to 'Back', songs_path %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#new_comment input[name=commit]").on('click',function(e){
      e.preventDefault();
      comment = $('textarea#comment_comment').val();
      if (comment.trim().length > 0) {
        $("#new_comment").submit();
        return true;
      }
      else{
        $("#comment_comment").css("border","1px solid #a94442").css("border-radius","4px");
      }
    });
});
</script>
