<h1>View song</h1>
    <div class="row well">
      <div class="col-md-8">
        <h2><%= @song.title %></h2>
        <p><%= @song.lyrics %></p>
      </div>
      <div class="col-md-4">
        <% if @song.youtube_url %></p>
          <%= youtube_embed(@song.youtube_url).html_safe %>
        <% end %>
      </div>
    </div>
    
<hr>    
    <h2>Comments</h2>
    <% @song.comments.each do |comment| %>
        <p>
          <strong><%= comment.user.email %>:</strong>
          <%= comment.comment %>
        </p>
    <% end %>
    
  <hr> 
  <h3>Add a comment:</h3>
  <%= form_for [@song, Comment.new] do |f| %>

    <p>
      <%= f.label :comment %><br>
      <%= f.text_area :comment %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>


<%= link_to 'Back', songs_path %>