<h1>Albums</h1>
 <%= link_to 'New article', new_album_path, class: "btn btn-primary" %>
 <br><br>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Artist</th>
     <th>View</th>
     <th>Edit</th>
  </tr>
 
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.name %></td>
      <td><%= album.description %></td>
      <td><%= album.artist.name if album.artist_id? %></td>
      <td><%= link_to 'Show', album_path(album) %></td>
      <td><%= link_to 'Edit', edit_album_path(album) %></td>
    </tr>
  <% end %>
</table>